html,
div.box{
    width:100%;
   margin:auto;
   position: relative;
   padding-right:0px;
   }
 
   address{background-color: lightskyblue;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom:0px;
    width:100%;
    }
   
    div.footer{
      padding-bottom:50px;
    }
 
 div.messagebox{
   position:relative;
   bottom:0px;
   left:0px;
   height:100px;
 }
 
 div.msg{
   padding-top: 10px;
   padding-bottom:30px;
 }
 
 
 div.message{
   position:absolute;
   right:2px;
   background-color: rgb(150, 217, 219,0.7);
   border-radius: 5px;
   padding:0;
   margin-top: 18px;
   margin-bottom: 18px;
   max-width: 80%;
   
   padding-left: 10px;
   padding-right: 10px;
   border:solid;
   border-width: 1px;
   border-color:rgb(51, 50, 50,0.6);
 }
 
 div.messageif{
   position: absolute;
   left:2px;
   background-color: rgb(150, 217, 219,0.7);
   border-radius: 5px;
   margin-top: 18px;
   margin-bottom: 18px;
   max-width: 80%;
   padding-left: 10px;
   padding-right: 10px;
   border:solid;
   border-width:1px;
   border-color:rgb(51, 50, 50,0.6);
 }
 
 div.content{
   width:100%;
   background-color:rgb(255, 255, 255);
   padding:30px;
 }
 
 div.chatbox{
   border:solid;
   border-radius: 30px 30px 0 0;
   background-color:rgb(206, 236, 193);
   padding:20px;
 }
 
 div.date{
   position: absolute;
   right:10px;
   margin-top: -18px;
 }
 
 div.date p{
   font-size: 10px;
 }
 div.dateif{
   position: absolute;
   left:10px;
   margin-top: -18px;
 }
 
 div.dateif p{
   font-size: 10px;
 }
 #id_text{
   width:260px;
   height:60px;
   position:relative;
   left:10px;
 
 }