html,
#id_college,#id_username{
    position:relative;
    width:250px;
    height:35px;
    border:solid;
    border-width: 0.5px;
    left:5px
  }
  #id_intro{
    position:relative;
    width:300px;
    height:180px;
    border:solid;
    border-width:0.5px;
    left:5px;
  }
  div.text{
    position:relative;
    left:5px;
    top:10px;
  }
  address{background-color: lightskyblue;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom:0px;
    width:100% ;
  }
  address a{
     color:#FFFEFF
  }
  div.box{
    width:100%;
  }
