{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'detail-style.css' %}">
<script>
  $.getScript("./script.js");
</script>
<script>
  $('#delete').click(function(){
      if(!confirm('本当に削除しますか？')){
          /* キャンセルの時の処理 */
          return false;
      }else{
          /*　OKの時の処理 */
          location.href = 'index.html';
      }
  });
  </script>
{% endblock customcss %}

{% block header %}
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'list' %}" style="font-size: 50px; font-family:fantasy;">TexTrade</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            
          {% if boolean == True %}
          <a class="nav-link" href="{% url 'mypage' %}">マイページ <span class="sr-only">(current)</span></a>
          {% else %}
          <a class="nav-link" href="{% url 'editmypage' %}">マイページ <span class="sr-only">(current)</span></a>
          {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'goodlist' %}">いいねリスト</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              大学カテゴリ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'aoyama' %}">青山学院大学</a>
              <a class="dropdown-item" href="{% url 'keio' %}">慶應義塾大学</a>
              <a class="dropdown-item" href="#">早稲田大学</a>
              <a class="dropdown-item" href="#">and so on</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Another action</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'logout' %}">ログアウト</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'login' %}">ログイン</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
{% endblock header %}

{% block content %}
<div class='box'>
<h2>{{ object_list.title }}</h2>
<div class="image" align="center">{% if object_list.images %}
<p><img src="{{object_list.images.url}}" width=90% height=300 align="center" alt="..." ></p>
{% endif %}</div>
<table border="1" width="90%" cellspacing="0" cellpadding="5" bordercolor="#333333" align="center">
<tr>
<td bgcolor="87cefa" valign="top" width="100" align="center"><p>出品者</p></td>
<td><a href="{% url 'profile' object_list.pk %}" title="{{ object_list.author }}">{{ object_list.author }}</a></td></tr>
<tr>
<td bgcolor="87cefa" align="center"><p>内容</p></td>
<td><p>{{ object_list.content }}</p></td></tr>
<tr>
<td bgcolor="87cefa" align="center"><p>大学</p></td>
<td ><p>{{ object_list.collegecategory }}</p></td></tr>
<tr>
  <td bgcolor="87cefa" align="center"><p>キャンパス</p></td>
  <td ><p>{{ object_list.campus }}</p></td></tr>
<tr>
  <td bgcolor="87cefa" align="center"><p>状態</p></td>
  <td><p>{{ object_list.status }}</p></td></tr>
  <tr>
    <td bgcolor="87cefa" align="center"><p>値段</p></td>
    <td><p>￥{{ object_list.price }}</p></td></tr>
</table>

<a href="{% url 'good' object_list.pk %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">いいね:{{object_list.good}}</a>
{% ifequal profile.username object_list.author %}
<a href="{% url 'editdetail' object_list.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">投稿編集</a>
{% endifequal %}
{% ifnotequal profile.username object_list.author %}
{% if object_list.sold == False %}
<a href="{% url 'chatroom' object_list.pk %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true" id="delete">取引する</a>
{% endif %}
{% endifnotequal %}


<h2>コメント一覧</h2>
{% for comment in comments %}
    <hr>
     {{comment.author }}　　　{{ comment.created_date}}<br>
     {{ comment.text }}<br>
     
     <hr>
{% endfor %}
<form action='' method='POSt' enctype='multipart/form-data'>
    {% csrf_token %}
    
      
      {{form.text}}
      <input type="submit">
    
  </form>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}