{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'goodlist-style.css' %}">
{% endblock customcss %}
{% block header %}
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'list' %}" style="font-size: 50px; font-family:fantasy;">TexTrade</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            
          {% if boolean == True %}
          <a class="nav-link" href="{% url 'mypage' %}">マイページ <span class="sr-only">(current)</span></a>
          {% else %}
          <a class="nav-link" href="{% url 'editmypage' %}">マイページ <span class="sr-only">(current)</span></a>
          {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'goodlist' %}">いいねリスト</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              大学カテゴリ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'aoyama' %}">青山学院大学</a>
              <a class="dropdown-item" href="{% url 'keio' %}">慶應義塾大学</a>
              <a class="dropdown-item" href="#">早稲田大学</a>
              <a class="dropdown-item" href="#">and so on</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Another action</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'logout' %}">ログアウト</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'login' %}">ログイン</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
<div class="alert alert-info"  role="alert"> 
    <h3>いいねリスト</h3>
  </div>
{% endblock header %}
{% block content %}
<div class="box">
    <div class="listcontainer">
    {% for item in goodlist %}
<div class="card-card" >
<a href="{% url 'chatroom' item.pk %}"></a>
<div class="card" style="width: 115px; height: 115px;">
  <div class="image">
  {% if item.images %}
    <p><img src="{{item.images.url}}" width=150 height=110 class="card-img-top" alt="..."></p>
  {% endif %}
  <div class="trading"><img src="/medi/trading.png" width=80px height=80px></div>
  <div class="price"><p>￥{{item.price}}</p>
  </div>
  </div>
    <div class="card-b">
      <h6 class="card-title">{{item.title}}</h6>
    </div>
  </div>
</div>
    {% endfor%}
    </div>
    </div>
    <script>
      if (window.name != "xyz")
    {
      location.reload();
      window.name = "xyz";
    }
    </script>

{% endblock content %}
{% block footer %}
<address>
  Copy Right <a href="">TexTrade</a>
   Co.,Ltd. since 2020
</address>
{% endblock footer %}