{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'mypage-style.css' %}">
{% endblock customcss %}
{% block header %}
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'list' %}" style="font-size: 50px; font-family:fantasy;">TexTrade</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            
          {% if boolean == True %}
          <a class="nav-link" href="{% url 'mypage' %}">マイページ <span class="sr-only">(current)</span></a>
          {% else %}
          <a class="nav-link" href="{% url 'editmypage' %}">マイページ <span class="sr-only">(current)</span></a>
          {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'goodlist' %}">いいねリスト</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              大学カテゴリ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'aoyama' %}">青山学院大学</a>
              <a class="dropdown-item" href="{% url 'keio' %}">慶應義塾大学</a>
              <a class="dropdown-item" href="#">早稲田大学</a>
              <a class="dropdown-item" href="#">and so on</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Another action</a>
          </li> -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'logout' %}">ログアウト</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'login' %}">ログイン</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
<div class="alert alert-info"  role="alert"> 
    <h3>マイページ</h3>
  </div>
{% endblock header %}
{% block content %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fb+5w+4e-db+86"
     data-ad-client="ca-pub-8034957177909576"
     data-ad-slot="7118321704"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="box">
<table>
  <tr>
  <td>名前</td><td>{{ user.profile.username }}</td>
  </tr>
  <tr>
  <td>性別</td><td>{{ user.profile.gender }}</td>
  </tr>
  <tr>
  <td>大学</td><td>{{ user.profile.college }}</td>
  </tr>
  <tr>
  <td>自己紹介</td><td>{{ user.profile.intro }}</td>
  </tr>
</table>
<a href="{% url 'editmypage' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">プロフィール編集</a>
<h3>取引中の教科書</h3>
    <div class="listcontainer">
    {% for item in trading %}
<div class="card-card" >
<a href="{% url 'chatroom' item.pk %}"></a>
<div class="card" style="width: 115px; height: 115px;">
  <div class="image">
  {% if item.images %}
    <p><img src="{{item.images.url}}" width=150 height=110 class="card-img-top" alt="..."></p>
  {% endif %}
  <div class="trading"><img src="/media/trading.png" width=80px height=80px></div>
  <div class="price"><p>￥{{item.price}}</p>
  </div>
  </div>
    <div class="card-b">
      <h6 class="card-title">{{item.title}}</h6>
    </div>
  </div>
</div>
    {% endfor%}
    </div>
<br>
<h3>出品した教科書</h3>
    <div class="listcontainer">
    {% for item in post %}
    <div class="card-card" >
      <a href="{% url 'detail' item.pk %}"></a>
      <div class="card" style="width: 115px; height: 115px;">
        <div class="image">
        {% if item.images %}
          <p><img src="{{item.images.url}}" width=150 height=110 class="card-img-top" alt="..."></p>
        {% endif %}
        <div class="price"><p>￥{{item.price}}</p>
        </div>
        </div>
          <div class="card-b">
            <h6 class="card-title">{{item.title}}</h6>
          </div>
        </div>
      </div>
    {% endfor%}
    </div>
    <div class="post"><a href="{% url 'create' %}"></a>
      <div class="create"><img src="/media/syuppin3.png" width=80px height=80px></div>
      </div>
    </div>
    <script>
      if (window.name != "xyz")
    {
      location.reload();
      window.name = "xyz";
    }
    </script>

{% endblock content %}
{% block footer %}

{% endblock footer %}