{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'squeeze-style.css' %}">
{% endblock customcss %}

{% block header %}
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'list' %}" style="font-size: 50px; font-family:fantasy;">TexTrade</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
              {% if boolean == True %}
              <a class="nav-link" href="{% url 'mypage' %}">マイページ <span class="sr-only">(current)</span></a>
              {% else %}
              <a class="nav-link" href="{% url 'editmypage' %}">マイページ <span class="sr-only">(current)</span></a>
              {% endif %}
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  大学カテゴリ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'aoyama' %}">青山学院大学</a>
                  <a class="dropdown-item" href="{% url 'keio' %}">慶應義塾大学</a>
                  <a class="dropdown-item" href="#">早稲田大学</a>
                  <a class="dropdown-item" href="#">and so on</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Another action</a>
              </li>
            </ul>
            
          </div>
        </nav>
      </header>
      {% endblock header %}

      {% block content %}
<div class="box">
<form class="form-inline my-2 my-lg-0" action='' method="POST">{% csrf_token %}
    <table>
        <tr>
            <td>タイトル</td>
            <td>
                {{form.title}}
            </td>
        </tr>
        
        <tr>
          <td>大学</td>
          <td>{{ form.college }}
          </td>
      </tr>
      <tr>
        <td>値段</td>
        <td>{{ form.price }}
        </td>
    </tr>
    <tr>
        <td>販売状況</td>
        <td>{{ form.sellstatus }}
        </td>
    </tr>
        </table>
        <br>
        
    <button class="btn btn-primary btn-lg btn-block" type="submit">絞り込む</button>
  </form>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}